<div class="container">
  <div class="status">
    <div>Status {{gameStatus}}</div>
    <div>Generation {{generation}}</div>
    <div>Alive {{board.alive}}</div>
    <div>Dead {{board.total - board.alive}}</div>
  </div>

  <div class="board">
    <div *ngFor="let col of numCols | numToArray">
      <div class="column" *ngFor="let row of numRows | numToArray" style="margin-top: -5px;">
        <button class="cell" (click)="onClick(row, col)" [ngClass]="{ alive: board.status(row, col) == 1 }"></button>
      </div>
    </div>
  </div>
  <div class="controls">
    <button class="info" (click)="startPause()">Start / Pause</button>
    <button class="info" (click)="restart()">Restart</button>
  </div>
</div>