<div class="container">
  <div class="status">
    <div class="banner">
      <div class="pixelart-to-css"></div>
    </div>
    <ul class="olist">
      <li>Status: {{gameStatus}}</li>
      <li>Generation: {{generation}}</li>
      <li>Alive: {{board.alive}}</li>
      <li>Dead: {{board.total - board.alive}}</li>
    </ul>
    <h2>Rules</h2>
    <ol>
      <li>Any live cell with two or three live neighbours survives.</li>
      <li> Any dead cell with three live neighbours becomes a live cell.</li>
      <li> All other live cells die in the next generation. Similarly, all other dead cells stay dead.</li>
    </ol>
  </div>

  <div class="board">
    <div *ngFor="let col of numCols | numToArray">
      <div class="column" *ngFor="let row of numRows | numToArray" style="margin-top: -5px;">
        <button class="cell" (click)="onClick(row, col)" [ngClass]="{ alive: board.status(row, col) == 1 }"></button>
      </div>
    </div>
  </div>
  <div class="controls">
    <button class="info" (click)="startPause()">Start / Pause</button>
    <button class="info" (click)="restart()">Restart</button>
  </div>
</div>