body {
  margin: 30px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #eee;
}

.container{
  display: flex;
  flex-flow: row wrap;
  row-gap: 10px;
  justify-content: space-around;
}

.status{
  font-weight: bold;
  font-size: medium;
  width: 200px;
}

.controls, .status{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  margin-top: 10px;
}

li {
  line-height: 1.8;
}

.olist {
  list-style-type: none;
  list-style-position: inside;
  margin-bottom: 20px;
}

.board {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.board button.cell {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid gray;
}


.board button.alive {
  background-color: red;
}


/* CSS */
button.info {
  margin-top: 15px;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 40px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.info:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 40px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.info:hover:after {
  transform: translate(0, 0);
}

.info:active {
  background-color: #ffdeda;
  outline: 0;
}

.info:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .info {
    padding: 0 40px;
  }
}

.pixelart-to-css {
  box-shadow: 40px 20px 0 0 rgba(0, 0, 0, 1), 50px 20px 0 0 rgba(0, 0, 0, 1), 90px 20px 0 0 rgba(0, 0, 0, 1), 130px 20px 0 0 rgba(0, 0, 0, 1), 150px 20px 0 0 rgba(0, 0, 0, 1), 180px 20px 0 0 rgba(0, 0, 0, 1), 190px 20px 0 0 rgba(0, 0, 0, 1), 200px 20px 0 0 rgba(0, 0, 0, 1), 30px 30px 0 0 rgba(0, 0, 0, 1), 80px 30px 0 0 rgba(0, 0, 0, 1), 100px 30px 0 0 rgba(0, 0, 0, 1), 120px 30px 0 0 rgba(0, 0, 0, 1), 140px 30px 0 0 rgba(0, 0, 0, 1), 160px 30px 0 0 rgba(0, 0, 0, 1), 180px 30px 0 0 rgba(0, 0, 0, 1), 190px 30px 0 0 rgba(0, 0, 0, 1), 30px 40px 0 0 rgba(0, 0, 0, 1), 50px 40px 0 0 rgba(0, 0, 0, 1), 60px 40px 0 0 rgba(0, 0, 0, 1), 80px 40px 0 0 rgba(0, 0, 0, 1), 90px 40px 0 0 rgba(0, 0, 0, 1), 100px 40px 0 0 rgba(0, 0, 0, 1), 120px 40px 0 0 rgba(0, 0, 0, 1), 140px 40px 0 0 rgba(0, 0, 0, 1), 160px 40px 0 0 rgba(0, 0, 0, 1), 180px 40px 0 0 rgba(0, 0, 0, 1), 40px 50px 0 0 rgba(0, 0, 0, 1), 50px 50px 0 0 rgba(0, 0, 0, 1), 80px 50px 0 0 rgba(0, 0, 0, 1), 100px 50px 0 0 rgba(0, 0, 0, 1), 120px 50px 0 0 rgba(0, 0, 0, 1), 160px 50px 0 0 rgba(0, 0, 0, 1), 180px 50px 0 0 rgba(0, 0, 0, 1), 190px 50px 0 0 rgba(0, 0, 0, 1), 200px 50px 0 0 rgba(0, 0, 0, 1), 90px 80px 0 0 rgba(0, 0, 0, 1), 120px 80px 0 0 rgba(0, 0, 0, 1), 130px 80px 0 0 rgba(0, 0, 0, 1), 140px 80px 0 0 rgba(0, 0, 0, 1), 80px 90px 0 0 rgba(0, 0, 0, 1), 100px 90px 0 0 rgba(0, 0, 0, 1), 120px 90px 0 0 rgba(0, 0, 0, 1), 130px 90px 0 0 rgba(0, 0, 0, 1), 80px 100px 0 0 rgba(0, 0, 0, 1), 100px 100px 0 0 rgba(0, 0, 0, 1), 120px 100px 0 0 rgba(0, 0, 0, 1), 90px 110px 0 0 rgba(0, 0, 0, 1), 120px 110px 0 0 rgba(0, 0, 0, 1), 30px 130px 0 0 rgba(0, 0, 0, 1), 70px 130px 0 0 rgba(0, 0, 0, 1), 90px 130px 0 0 rgba(0, 0, 0, 1), 100px 130px 0 0 rgba(0, 0, 0, 1), 110px 130px 0 0 rgba(0, 0, 0, 1), 130px 130px 0 0 rgba(0, 0, 0, 1), 140px 130px 0 0 rgba(0, 0, 0, 1), 150px 130px 0 0 rgba(0, 0, 0, 1), 180px 130px 0 0 rgba(255, 0, 0, 1), 200px 130px 0 0 rgba(255, 0, 0, 1), 30px 140px 0 0 rgba(0, 0, 0, 1), 70px 140px 0 0 rgba(0, 0, 0, 1), 90px 140px 0 0 rgba(0, 0, 0, 1), 100px 140px 0 0 rgba(0, 0, 0, 1), 130px 140px 0 0 rgba(0, 0, 0, 1), 140px 140px 0 0 rgba(0, 0, 0, 1), 170px 140px 0 0 rgba(255, 0, 0, 1), 180px 140px 0 0 rgba(255, 0, 0, 1), 190px 140px 0 0 rgba(255, 0, 0, 1), 200px 140px 0 0 rgba(255, 0, 0, 1), 210px 140px 0 0 rgba(255, 0, 0, 1), 30px 150px 0 0 rgba(0, 0, 0, 1), 70px 150px 0 0 rgba(0, 0, 0, 1), 90px 150px 0 0 rgba(0, 0, 0, 1), 130px 150px 0 0 rgba(0, 0, 0, 1), 180px 150px 0 0 rgba(255, 0, 0, 1), 190px 150px 0 0 rgba(255, 0, 0, 1), 200px 150px 0 0 rgba(255, 0, 0, 1), 30px 160px 0 0 rgba(0, 0, 0, 1), 40px 160px 0 0 rgba(0, 0, 0, 1), 50px 160px 0 0 rgba(0, 0, 0, 1), 70px 160px 0 0 rgba(0, 0, 0, 1), 90px 160px 0 0 rgba(0, 0, 0, 1), 130px 160px 0 0 rgba(0, 0, 0, 1), 140px 160px 0 0 rgba(0, 0, 0, 1), 150px 160px 0 0 rgba(0, 0, 0, 1), 190px 160px 0 0 rgba(255, 0, 0, 1);
  height: 8px;
  width: 8px;
  margin-top: 5px;
}

.banner{
  height: 200px;
}

