body {
  margin: 30px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #eee;
}

.container{
  display: flex;
  flex-flow: row wrap;
  row-gap: 10px;
  justify-content: space-around;
}

.status{
  font-weight: bold;
  font-size: medium;
}

.controls, .status{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
}

.board {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.board button.cell {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid gray;
}


.board button.alive {
  background-color: red;
}


/* CSS */
button.info {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.info:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.info:hover:after {
  transform: translate(0, 0);
}

.info:active {
  background-color: #ffdeda;
  outline: 0;
}

.info:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .info {
    padding: 0 40px;
  }
}
